.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  background-color: #99D9D9;
}

.login_card {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 8px;
  margin: 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login_card h2 {
  margin-bottom: 20px;
}