.navbar{
    background-color: white;
}

.usericon{
    background-color:#f0f0f0;
    border-radius:  50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;

}

.icon{
    font-size: 32px;
}
.doctor-profile {
    max-width: 800px;
    margin: auto;    
}

.profile-details {
    display: flex;
}

.doctor-image {
    width: auto;
    height: 300px;
}

.details {
    padding-left: 20px;
}

.certificate {
    width: 100%;
}

.btn-primary{
  background-color: #008080;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.btn-secondary{
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}
.btn-disabled{
    background-color: lightgrey;
    border: 1px solid grey;
    color: grey;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
  }