header {
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  align-items: center;
  margin: auto;
}

section{ 
  background-color: #99D9D9;
}

.container {
  display: flex;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.row-2 {
  justify-content: space-between;
}

.row-2 .col-2 {
  margin: auto;
  flex-basis: 40%;
}

.row .col-2 h1 {
  font-size: 56px;
  line-height: 40px;
}

.text-content {
  background-color: #00aaff;
  padding: 20px;
  color: white;
}

.text-content h1,
.text-content p {
  margin: 0;
}

h2,
h1,
p {
  font-family: 'Roboto', sans-serif;
}

h2 span {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
}

.btn-primary {
  background-color: #008080;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #008080;
  color: #008080;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px
}