.container {
    margin: 40px auto 160px;
    max-width: 1080px;
}

.doctor_details {
    display: flex;
}

.doctor_details h1 {
    margin: 0;
    font-size: 36px;
}

.doctor_details .doctors_specialization {
    color: #666;
    margin: 0;
    margin-bottom: 16px;
}

.doctor_details .experience {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.doctor_details .details .certificate {
    font-size: 24px;
    margin-right: 10px;
}

.doctor_details img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    margin-right: 30px;
}

.icon {
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.doctor_profile h2 {
    margin: 60px auto 10px;
}

.bio{
    color: #666;
    line-height: 22px;
    text-align: justify;
}

.schedule button,
.time button {
    margin-right: 10px;
}

.footer {
    display: flex;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.button_container {
    margin-left: auto;
    max-width: 1080px;
    padding: 10px;
    margin-right: 25px;
}

.button_container button {
    margin-left: 10px;
}


@media screen and (max-width: 768px) {
    .container {
        padding: 0 16px;
        margin: 16px auto 80px;
    }

    .doctor_details {
        flex-direction: column;
    }

    .doctor_details img {
        width: auto;
        height: auto;
        border-radius: 10px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        padding: 0 16px;
        margin: 16px auto 80px;
    }
}